* {
    font: ;
}

body {
    padding: 0;
    margin: 0;
    background: #d3d3d3;
    background: linear-gradient(140deg, #d3d3d3 0%, crimson 400%);
    border: none;
}

.header {
    background-image: url("/img/rabbit-header.jpg");
    height: 400px;
    float: top;
    background-position: center center;
}

h1 {
    color: deeppink;
    background-color: rgba(211, 211, 211, 0.5);
    font-family: fantasy;
    font-size: 60px;
    line-height 45px;
    margin: 0;
    text-align: center;
    position: relative;
    top: 55%
}

h2 {
    color: rgb(90, 20, 20);
    text-shadow: 1px 1px 1px;
}

h4 {
    color: rgb(50, 10, 10);
    text-align: center;
    padding: 5%;
    width: 70%;
}

#apoc {
    color: darkred;
}

p {
    text-align: left;
    text-indent: 10px;
    padding: 10px
}

ul {
    float: center;
    position: relative;
    left: 15%;
    width: 70%;
    padding: 0;
}

li {
    border-bottom: 0.5px solid red;
    list-style: none;
    margin: 100px 0px;
    padding bottom: 20px;
}

.hidden {
    display: none;
    position: relative;
    float: inherit;
}

.show:hover + .hidden {
    display: block;
    position: absolute;
}

.img {
    height: 250px;
    width: 350px;
    background-position: center;
    background-repeat: no-repeat;
    float: center;
}

#img1 {
    background-image: url("img/rabbit-demonic.jpg");
    background-size: 70%;
}

#img2 {
    background-image: url("img/rabbit-baringfangs.jpg");
    background-position: center 30%;
}

#img3 {
    background-image: url("img/rabbit-xray.jpg");
    height: 400px;
    width: 400px;
}

footer {
    box-sizing: border-box;
    background-color: rgb(80, 20, 20);
    color: #8a939c;
}

#container {
    height: 100px;
}

a {
    text-decoration: none;
    text-decoration: inherit;
    color: inherit;
}

iframe {
    border: none;
    position: absolute;
    left: -900px;
}

.checkboxtest {
    display: none;
}

.checkboxtext:checked + iframe {
    left: 0px;
}